// style for bitbili.net

@import 'variable.scss';

// compontents
body {
  position: relative;
  -webkit-text-size-adjust: none;
  width: 100%;
  font: {
    family: $font;
    size: $si;
  }
  line-height: $lh;
  color: $fg;
  background: $bg;
  margin: 0;
  padding: 0;
  transition-property: background-color;
  transition-duration: 0.1s;
  @media print {
    background: transparent !important;
  }
}

:root {
  --sat: env(safe-area-inset-top, "0px");
  --sar: env(safe-area-inset-right, "0px");
  --sab: env(safe-area-inset-bottom, "0px");
  --sal: env(safe-area-inset-left, "0px");
}

::-moz-selection {
  color: inherit;
  background-color: #ffab40aa;
}
::selection {
  color: inherit;
  background-color: #ffab40aa;
}

@mixin icon($url, $width, $height, $opacity: 1) {
  display: inline-block;
  width: $width;
  height: $height;
  opacity: $opacity;
  background: {
    color: transparent;
    image: url($url);
    repeat: no-repeat;
    size: contain;
    position: center;
  }
}

@mixin transition {
  transition-property: all;
  transition-duration: 0.2s;
}

@mixin fullWidth($offset: 0px) {
  margin: 0;
  padding: 0;
  width: calc(100% - #{$offset});
  box-sizing: border-box;
}
@mixin halfWidth {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 50%;
  box-sizing: border-box;
}

a {
  color: $fg;
  text-decoration: $lno;
  @include transition;
  &:hover {
    color: $bc;
    text-decoration: $lho;
    @include transition;
  }
  &.package {
    background-color: $pkgbg;
    color: $ifg;
    font-size: 80%;
    padding: 0 8px;
    margin-right: 13px;
    border-radius: 3px;
    position: relative;
    bottom: 2px;
    white-space: pre;
    display: inline-flex;
    max-width: 100%;
    overflow: visible;
    text-indent: 0px;
    text-decoration: none;
    @media print {
      margin-right: 0;
    }
  }
  &.external:after {
    content: ' ';
    vertical-align: super;
    margin-left: 2px;
    filter: grayscale(1);
    @include icon('/theme/images/fa/solid/external-link-alt.svg', 10px, 10px, 0.3);
    @include transition;
    @media print {
      display: none;
    }
  }
  &.package:after {
    content: ' ';
    vertical-align: super;
    margin-left: 2px;
    filter: grayscale(1);
    @include icon('/theme/images/fa/solid/cube.svg', 10px, 10px, 0.3);
    position: absolute;
    right: -12px;
    @include transition;
    @media print {
      display: none;
    }
  }
  &.external:hover:after {
    opacity: 0.8;
    filter: grayscale(0);
    @include transition;
  }
  &.disabled {
    text-decoration: none;
    opacity: 0.3;
    &:hover {
      color: inherit;
    }
    &:before, &:after {
      opacity: 0.3 !important;
    }
  }
  &.toc-backref {
    text-decoration: none;
    &:hover {
      color: inherit;
    }
  }
}

ul, menu, dir {
  list-style-type: square;
}

.gsc-results-wrapper-overlay {
  opacity: 0;
  visibility: hidden;
}
.gsc-overflow-hidden {
  overflow: auto !important;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.hidden {
  display: none;
}

.hidden-print {
  @media print {
    display: none !important;
  }
}

.hidden-screen {
  @media screen {
    display: none !important;
  }
}

// primary elements


#menu {
  display: block;
  position: absolute;
  top: 0;
  right: -270px;
  z-index: 1;
  width: 230px;
  max-width: 230px;
  transition-property: right;
  transition-duration: 0.1s;
  @media all and (min-width: #{$cewd + $aswd + $aswdm + 51px}) {
    right: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: block;
      float: left;
      width: calc(100% / 3);
      font-size: $sis;
      line-height: 1.5em;
      a {
        display: inline-block;
        color: $fgt;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        background-color: $ftbgtl;
        text-decoration: none;
        &:hover {
          color: $bgd;
          background-color: $bctddd;
        }
      }
    }
  }
}
#footerMenu {
  @extend #menu;
  position: relative;
  top: 0;
  right: 0;
  width: calc(100% - env(safe-area-inset-right, "0px") - #{$aswd + $aswdrf});
  max-width: unset;
  padding: 0 0 env(safe-area-inset-bottom, "0px") 0;
  margin-right: calc(env(safe-area-inset-right, "0px") + #{$aswd + $aswdrf});
  background-color: $bc;
  ul {
    width: 100%;
    display: table;
    li {
      display: table-cell;
      a {
        display: block;
        color: $ifg;
        background-color: $ftbg;
        font-size: 14px;
        height: 35px;
        text-align: center;
        vertical-align: middle;
        line-height: 35px;
        &:hover {
          background-color: $ftbgtll;
        }
      }
    }
  }
}

#search {
  @extend #menu;
  top: $sis * 1.5 + 20px;
  > div[dir=ltr]:first-child {
    width: 230px;
    max-width: 230px;
    height: $sis * 1.5 + 20px;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    background-color: transparent;
    vertical-align: top;
    font: {
      family: $font;
      size: $si;
    }
    line-height: 1em;
    form {
      margin: 0;
      table.gsc-search-box {
        margin-bottom: 0;
        tbody {
          border-collapse: collapse;
          td.gsc-input {
            display: block;
            padding: 0;
            width: 100%;
            box-sizing: border-box;
            background-color: transparent;
            div.gsc-input-box {
              border: none;
              padding: 0;
              background-color: transparent;
              color: $fg;
              font-weight: bold;
              tbody {
                border-collapse: collapse;
                td.gsib_a {
                  vertical-align: bottom;
                  padding: 0;
                  input {
                    font-size: $si;
                    line-height: 1em;
                    box-sizing: border-box;
                    vertical-align: top;
                    height: $sis * 1.5 + 20px !important;
                    padding: 9px 3px 13px 20px !important;
                    background-color: $ftbgtl !important;
                    box-shadow: none;
                    border-radius: 0;
                    -webkit-appearance: none;
                    background-position-x: 10px !important;
                    transition-property: background-color, box-shadow;
                    transition-duration: 0.2s;
                    &::placeholder {
                      opacity: 0;
                    }
                    &:focus {
                      background-color: $ftbgtll !important;
                      box-shadow: inset 5px -5px 0 $bctddd;
                      transition-property: background-color, box-shadow;
                      transition-duration: 0.2s;
                    }
                  }
                }
                td.gsib_b {
                  display: inline-block;
                  width: 0;
                  vertical-align: top;
                  background-color: $ftbgtll !important;
                  .gsst_b {
                    padding: 10px 0 12px 0;
                    left: -13px;
                    .gsst_a {
                      padding: 0;
                      .gscb_a {
                        font-size: $si;
                        color: lighten($fgt, 30%);
                        line-height: 1em;
                        vertical-align: bottom;
                      }
                      &:hover, &:focus {
                        .gscb_a {
                          color: $fgt;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          td.gsc-search-button {
            .gsc-search-button-v2 {
              margin: 0;
              padding: 10px;
              border: none;
              outline: none;
              background-color: $ftbgtl;
              cursor: pointer;
              &:hover, &:active, &:focus {
                background-color: $ftbgtl;
              }
              svg {
                width: 18px;
                height: 18px;
                fill: $fgt;
              }
            }
          }
        }
      }
    }
  }
}
#footerSearch {
  @extend #search;
  display: none;
  position: relative;
  @media all and (max-width: #{$cewd + $aswd + $aswdm + 50px}) {
    display: block;
    width: 100%;
    max-width: unset;
    left: 0;
    top: 0;
    > div[dir=ltr]:first-child {
      width: 100%;
      max-width: unset;
      .gs-title {
        text-align: left;
      }
    }
  }
}

header {
  height: $heh;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;
  #logo {
    max-width: $cewd;
    height: $heh;
    position: relative;
    margin: 0 auto;
    @media all and (min-width: $cewd + $aswd + $aswdm + 51px) {
      max-width: $cewd + $aswd;
    }
    @media all and (min-width: #{$cewd + 2 * ($aswd + $aswdm) + 51px}) {
      max-width: $cewd;
    }
    a {
      display: block;
      position: relative;
      width: $heh / 2;
      height: $heh / 2;
      margin: 0;
      padding: calc(#{$heh / 4} + env(safe-area-inset-top, "0px")) $heh / 4 $heh / 4 calc(#{$heh / 4} + env(safe-area-inset-left, "0px"));
      background-color: transparent !important;
      border: 0 {
        radius: 50%;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
      }
    }
  }
  /*
  #logowm {
    display: block;
		width: $heh / 4;
    height: $heh / 4;
    position: fixed;
    top: $heh / -2;
    left: $heh / -2;
    opacity: 0;
    transform: rotate(180deg);
    background-image: url(/static/logo/logo.svg);
    background-size: contain;
    transition-property: opacity, top, left, transform;
    transition-duration: 0.6s;
    @media all and (max-width: 1000px) {
      display: none;
    }
    @media all and (min-width: 1111px) {
      display: none;
    }
    @media all and (min-width: 1200px) {
      display: block;
    }
    > a {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  */
}

#main.base {
  width: calc(100% - 50px);
  max-width: $cewd + $aswd + $aswdm;
  padding: 30px env(safe-area-inset-right, "0px") 0 env(safe-area-inset-left, "0px");
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  @media all and (min-width: #{$cewd + 2 * ($aswd + $aswdm) + 51px}) {
    max-width: #{$cewd + 2 * ($aswd + $aswdm)};
    padding-left: calc(#{$aswd + $aswdm} + env(safe-area-inset-left, "0px"));
  }
  @media all and (max-width: 660px) {
    width: calc(100% - 32px);
  }
  @media print {
    max-width: $cewdp + $aswd + $aswdm;
  }
  #centre {
    width: 100%;
    max-width: $cewd;
    margin: 0 auto;
    box-sizing: border-box;
    @media all and (min-width: $cewd + $aswd + $aswdm + 51px) {
      width: calc(100% - #{$aswd + $aswdm} - env(safe-area-inset-left, "0px") - env(safe-area-inset-right, "0px"));
      float: left;
    }
    @media print {
      max-width: $cewdp;
    }
    /*
    #article-list {
      @include fullWidth;
      #listtitle {
        display: inline-block;
        padding: 5px 8px;
        background-color: $bc;
        a {
          display: block;
          font-size: $sis;
          font-weight: bold;
          line-height: 1.5em;
          color: $ifg;
          text-decoration: none;
        }
      }
      section {
        @include fullWidth;
        padding: 0 0 30px 0;
        > a {
          text-decoration: none;
          position: relative;
          left: 0;
          &:hover {
            left: -5px;
          }
          h2 {
            display: inline-block;
          }
        }
        summary {
          margin: 0 0 0 50px;
          opacity: 0.9;
          font-size: $sis;
          padding-left: 10px;
          box-shadow: -3px 0 $bc;
          box-sizing: border-box;
          a.toc-backref:hover {
            color: $fg;
            cursor: inherit;
          }
          * {
            display: inline;
            margin: 0;
            padding: 0;
            list-style-type: none;
            font-size: $sis;
            font-weight: normal;
            border: none;
            word-break: break-all;
          }
          p, h1, h2, h3, h4, h5, pre, table, ul {
            display: block;
            max-width: 100%;
            overflow: hidden;
          }
          pre {
            white-space: initial;
            span {
              color: $fg !important;
            }
          }
        }
      }
    }
    */
    #article {
      @include fullWidth;
      article {
        @include fullWidth;
        border-bottom: 5px solid $bc;
        margin-bottom: 5px;
        #header {
          @include fullWidth;
          padding-bottom: 30px;
          #headline {
            @include fullWidth;
            padding: 5px 0 5px 0;
            h1 {
              font-size: 3em;
              line-height: 1.5em;
              margin-bottom: 10px;
              word-break: break-word;
            }
          }
          #tags {
            display: inline-block;
            vertical-align: bottom;
            font-size: $sis;
            line-height: 2em;
            margin-left: 4 * $si;
            padding-left: 10px;
            box-shadow: -3px 0 $bctddd;
            box-sizing: border-box;
            a {
              white-space: pre;
              margin-right: 5px;
            }
            @media print {
              box-shadow: none;
              border-left: 3px solid $bctddd;
            }
          }
          #ctrl {
            @extend #tags;
            #commentsCount {
              display: none;
              text-decoration: none;
              &:before {
                content: ' ';
                @include icon('/theme/images/fa/regular/comment-alt.svg', $sis, $sis);
                vertical-align: middle;
                position: relative;
                bottom: 1.5px;
                margin-right: 2px;
              }
            }
            #showSourceCode {
              @extend #commentsCount;
              display: inline-block;
              &:before {
                background-image: url('/theme/images/fa/regular/file-code.svg');
              }
            }
            #showArticle {
              @extend #commentsCount;
              &:before {
                background-image: url('/theme/images/fa/regular/file-alt.svg');
              }
            }
          }
          #info {
            @extend #tags;
            width: calc(100% - #{4 * $si});
            display: block;
            font-size: $sis - 2px;
            line-height: 1.5em;
            padding-top: 10px;
            time {
              display: block;
              &.modified {
                &:before {
                  content: '最新修改：';
                }
              }
              &.published {
                &:before {
                  content: '最初发布：';
                }
              }
            }
            #diff-license {
              font-weight: bold;
              &:before {
                content: '额外说明：';
              }
            }
          }
        }
        #content {
          padding: 5px 0;
          h2 {
            font-size: 2em;
            line-height: 1.5em;
          }
          p, a, li, h2, h3, h4, h5 {
            word-break: break-word;
          }
          li {
            p {
              text-indent: initial;
            }
          }
          code, kbd {
            font: {
              family: $monofont;
              size: 80%;
            }
            border-radius: 3px;
            position: relative;
            bottom: 2px;
            white-space: pre;
            display: inline-flex;
            max-width: 100%;
            text-indent: 0px;
          }
          kbd {
            padding: 0 5px;
            background-color: #2b2b2b;
            font-weight: bold;
            color: $ifg;
            box-shadow: 1px 1px 3px #00000070;
            @media print {
              box-shadow: none;
            }
          }
          code {
            background-color: $cbgd;
            padding: 0 8px;
            overflow: auto;
            &.file {
              padding: 0;
              bottom: 1px;
              background-color: transparent;
            }
            @media print {
              &.code {
                border: 1px solid $fg;
              }
            }
          }
          table {
            box-sizing: border-box;
            width: 100%;
            margin: 20px 0;
            page-break-inside: avoid;
            background-color: transparent;
            border: {
              color: $bg;
              width: 0;
              collapse: collapse;
            }
            th {
              padding: 5px 10px;
              border-top: none;
              border-bottom: 3px solid $bctdd;
              border-left: none;
              border-right: 1px solid $bctdd;
              &:last-child {
                border-right: none;
              }
            }
            td {
              @extend th;
              border-bottom: 1px solid $bctdd;
            }
            tbody tr {
              &:hover {
                background-color: $bctdd;
              }
              &:focus {
                @extend :hover;
              }
              &:active {
                @extend :hover;
              }
              &:last-child td {
                border-bottom: none;
              }
            }
            &.footnote {
              background-color: transparent;
              margin-bottom: 10px;
              tbody tr:hover {
                background-color: transparent;
              }
            }
          }
          a {
            &.fn-backref {
              word-break: keep-all;
            }
            &.internal:hover {
              color: $fg;
            }
          }
          img {
            display: block;
            position: relative;
            margin: 0;
            padding: 0;
            max-width: 100%;
            &.smalled {
              left: 0;
              z-index: 1;
              cursor: zoom-in;
              max-width: unset;
              transition-duration: 0.1s;
              transition-property: width, height, left;
              &.maximized {
                cursor: zoom-out;
              }
            }
          }
          dl {
            dt {
              font-weight: bold;
              text-indent: initial;
            }
          }
          blockquote {
            position: relative;
            font-size: 85%;
            line-height: 1.5em;
            &:before {
              content: ' ';
              @include icon('/theme/images/fa/solid/quote-left.svg', 1.8em, 1.8em, 0.2);
              position: absolute;
              z-index: -1;
              top: 5px;
              left: 20px;
            }
            padding: 9px 30px 9px 55px;
            background-color: $bghd;
            p {
              text-indent: unset;
            }
          }
          .admonition {
            .admonition-title {
              display: none;
            }
            display: block;
            margin: 1em 0 1em 40px;
            position: relative;
            padding: 9px 30px 9px 30px;
            box-sizing: border-box;
            font-size: 85%;
            line-height: 1.5em;
            border-left: 1px solid $bc;
            box-shadow: inset 6px 0 0 $bctddd;
            background-color: $bctd;
            &.admonition-t-s {
              .admonition-title {
                font-size: 85%;
                font-weight: bold;
                display: inline-block;
                height: 2em;
                line-height: 2em;
                width: 60px;
                margin-bottom: 0;
                padding: 0;
                text-align: center;
                vertical-align: top;
                background-color: $bc;
                color: $ifg;
              }
              margin: 1em 0;
              padding: 9px 0;
              font-size: 100%;
              box-shadow: none;
              border-left: none;
              background-color: $bcatd;
              p {
                padding: 3px 20px 3px 2em;
              }
              .elWrapperTop {
                margin-bottom: 0 !important;
              }
              .last {
                position: relative;
                box-shadow: 0 -2px 0 0 $bca;
                padding-top: 9px;
                padding-bottom: 9px;
                margin: 0;
                &:before {
                  content: ' ';
                  position: absolute;
                  @include icon('/theme/images/fa/solid/check-white.svg', 1.5em, 2em, 1);
                  background-color: $bca;
                  background-size: 0.8em;
                  top: 0;
                  left: 0;
                }
              }
            }
          }
          .footnote-reference {
            font-size: 60%;
            vertical-align: super;
          }
          .elWrapperTop {
            button {
              @include icon('/theme/images/fa/solid/expand.svg', 20px, 20px, 0.5);
              display: none;
              background-size: 12px;
              background-color: $cbgd;
              cursor: pointer;
              border: none;
              outline: none;
              position: -webkit-sticky;
              position: -moz-sticky;
              position: -ms-sticky;
              position: -o-sticky;
              position: sticky;
              left: calc(100% - 20px);
              top: 0;
              transition-duration: 0.2s;
              transition-property: opacity;
              &.compress {
                background-image: url('/theme/images/fa/solid/compress.svg');
              }
              &:hover {
                opacity: 0.8;
                transition-duration: 0.2s;
                transition-property: opacity;
              }
              @media print {
                display: none !important;
              }
            }
            .elWrapper {
              position: relative;
              z-index: 1;
              overflow-x: auto;
              overflow-y: auto;
              @media print {
                height: min-content !important;
                white-space: pre-wrap;
                word-break: break-word;
                border: 1px solid $fg;
                overflow-x: visible !important;
                overflow-y: visible !important;
              }
              width: 100%;
              left: 0;
              transition-duration: 0.2s;
              transition-property: width, left, height;
            }
          }
          pre {
            @include fullWidth;
            overflow: visible !important;
            background-color: $cbg;
            page-break-inside: avoid;
            margin: 20px 0;
            padding: 20px;
            font: {
              family: $monofont;
              size: 90%;
            }
            line-height: 1.5em;
            @media print {
              white-space: pre-wrap;
              white-space: -moz-pre-wrap;
              white-space: -pre-wrap;
              white-space: -o-pre-wrap;
              word-wrap: break-word;
              word-break: break-word;
            }
          }
        }
        #source {
          @include fullWidth;
          max-width: 100%;
          padding: 15px 10px;
          display: none;
          line-height: 1.5em;
          overflow: auto;
          background-color: $cbg;
          pre {
            font: {
              family: $monofont;
              size: $sis;
            }
          }
        }
      }
      #prevnext {
        @include fullWidth;
        display: table;
        margin-top: 5px;
        margin-bottom: 15px;
        font-size: 85%;
        font-weight: bold;
        line-height: 1.5em;
        a {
          @include halfWidth;
          display: table-cell;
          text-decoration: none;
          padding: 5px 10px;
          color: $ifg;
          background-color: $bctddd;
          position: relative;
          left: 0px;
          &:hover {
            background-color: $bc;
          }
          &#prev {
            text-align: left;
            &:before {
              content: ' ';
              filter: invert(1);
              opacity: 0.9;
              @include icon('/theme/images/fa/solid/chevron-left.svg', $si * 0.85, $si * 0.85);
              position: relative;
              top: 2px;
              margin-right: 3px;
            }
            &:hover {
              left: -6px;
            }
            &:last-child {
              width: 100%;
            }
          }
          &#next {
            text-align: right;
            &:after {
              content: ' ';
              filter: invert(1);
              opacity: 0.9;
              @include icon('/theme/images/fa/solid/chevron-right.svg', $si * 0.85, $si * 0.85);
              position: relative;
              top: 2px;
              margin-left: 3px;
            }
            &:hover {
              left: 6px;
            }
            &:first-child {
              width: 100%;
            }
          }
        }
      }
      #related-posts {
        @include fullWidth;
        margin: 15px 0;
        padding: 5px 5px 10px 15px;
        box-shadow: -3px 0 $bctddd;
        h4 {
          margin: 5px 0 5px 0;
        }
        ul {
          list-style: none;
          padding: 0 0 0 15px;
          margin: 0;
          font-size: 12px;
          line-height: 1.5em;
        }
      }
      #comments {
        @include fullWidth;
        font-size: $sis;
        font-weight: bold;
        line-height: 1.5em;
        > a#show-disqus {
          cursor: pointer;
          text-decoration: none;
          &:hover {
            text-decoration: underline solid;
          }
        }
      }
    }
    #page {
      @extend #article;
      padding-bottom: 20px;
      h1 {
        font-size: 3em;
        line-height: 1.5em;
        margin-bottom: 10px;
        word-break: break-word;
      }
      p {
        > img {
          display: inline-block;
        }
      }
      &.tags {
        ul {
          list-style: none;
          padding: 30px 30px 40px 30px;
          background-color: $bctdd;
          li {
            display: inline-block;
            margin: 0;
            &.tag-4 {
              font-size: 80%;
              a {
                padding: 1px 2px;
              }
            }
            &.tag-3 {
              font-size: 120%;
              a {
                padding: 2px 3px;
              }
            }
            &.tag-2 {
              font-size: 160%;
              a {
                padding: 3px 3px;
              }
            }
            &.tag-1 {
              font-size: 200%;
              a {
                padding: 4px 5px;
              }
            }
            a {
              color: $ifg;
              text-decoration: none;
              &:hover {
                text-decoration: solid underline;
              }
            }
          }
        }
      }
      &.categories {
        ul {
          list-style: none;
          padding: 20px;
          margin-bottom: 0;
          li {
            margin: 5px 20px 5px 0;
            box-shadow: -3px 0 $bc;
            a {
              display: inline-block;
              text-decoration: none;
              padding: 0 10px;
              font-family: $monofont;
              font-weight: bold;
              &:hover {
                background-color: lighten($bc, 70%);
              }
            }
            span {
              display: inline-block;
              font-size: $sis;
            }
          }
        }
      }
      &.authors {
        @extend .categories;
      }
      &.archives {
        @extend .categories;
        ul li {
          span {
            padding-left: 10px;
          }
        }
        h5 {
          margin-top: 0;
        }
      }
    }
  }
  aside {
    display: none;
    box-sizing: border-box;
    box-shadow: -5px 0 $bc;
    background-color: transparent;
    padding: 10px 0 10px 10px;
    overflow: auto;
    transition-duration: 0.2s;
    transition-property: opacity;
    &:hover {
      opacity: 1 !important;
      transition-duration: 0.2s;
      transition-property: opacity;
    }
    @media all and (min-width: #{$cewd + $aswd + $aswdm + 51px}) {
      display: block;
      float: left;
      margin-left: $aswdm;
      width: $aswd;
      position: relative;
      top: (3 * 0.83 + 3) * $si + 30px;
      &#narrow {
        display: none;
      }
    }
    &.codeNow {
      display: none !important;
    }
    max-height: 1350px - $heh - 65px - (3 * 0.83 + 3) * $si - 110px;
    @media print {
      float: left !important;
      max-height: 100% !important;
      position: relative !important;
      top: (3 * 0.83 + 3) * $si + 30px !important;
      left: 0 !important;
      opacity: 1 !important;
    }
    @media screen and (max-height: 1250px) {
      max-height: 1250px - $heh - 65px - (3 * 0.83 + 3) * $si - 110px;
    }
    @media screen and (max-height: 1150px) {
      max-height: 1150px - $heh - 65px - (3 * 0.83 + 3) * $si - 110px;
    }
    @media screen and (max-height: 1050px) {
      max-height: 1050px - $heh - 65px - (3 * 0.83 + 3) * $si - 110px;
    }
    @media screen and (max-height: 950px) {
      max-height: 950px - $heh - 65px - (3 * 0.83 + 3) * $si - 110px;
    }
    @media screen and (max-height: 850px) {
      max-height: 850px - $heh - 65px - (3 * 0.83 + 3) * $si - 110px;
    }
    @media screen and (max-height: 750px) {
      max-height: 750px - $heh - 65px - (3 * 0.83 + 3) * $si - 50px;
    }
    @media screen and (max-height: 650px) {
      max-height: 650px - $heh - 65px - (3 * 0.83 + 3) * $si - 50px;
    }
    @media screen and (max-height: 550px) {
      max-height: 550px - $heh - 65px - (3 * 0.83 + 3) * $si - 50px;
    }
    @media screen and (max-width: #{$cewd + $aswd + $aswdm + 50px}) {
      &#narrow {
        background-color: $bg;
        display: block;
        position: fixed;
        z-index: 999;
        bottom: calc(55px - 100% + env(safe-area-inset-bottom, "0px"));
        right: $aswdrf;
        width: calc(#{$aswd} + env(safe-area-inset-right, "0px"));
        padding: 0;
        padding-right: env(safe-area-inset-right, "0px");
        height: 100%;
        max-height: 100%;
        overflow: hidden;
        transition-property: bottom, right, border-color;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.65, 0.21, 0.43, 0.86);
        box-shadow: 0 1px 8px 0 rgba(60,64,67,0.302), -2px -1px 8px 3px rgba(60,64,67,0.149);
        border-left: 5px solid transparentize($bc, 0.5);
        box-sizing: border-box;
        &:hover, &:focus {
          bottom: 0;
          right: 0;
          outline: none;
          border-left: 5px solid transparentize($bc, 0.2);
          #toc {
            .toc {
              left: 10px;
              opacity: 1;
              transition-property: opacity, left;
              transition-duration: 0.5s;
              transition-timing-function: cubic-bezier(0, 1, 0.68, 0.68);
            }
          }
        }
        #toc {
          padding: 0 0 10px;
          position: relative;
          box-sizing: border-box;
          height: 100%;
          h3 {
            position: relative;
            z-index: 1;
            display: block;
            width: 100%;
            height: 40px;
            padding: 10px 0 0 15px;
            border-bottom: none;
            box-sizing: border-box;
            background-color: #ffffff60;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
          }
          .toc {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 150px;
            padding: 0;
            width: calc(100% - 10px);
            max-height: 100%;
            margin: 0;
            overflow: auto;
            opacity: 0;
            transition-property: opacity, left;
            transition-duration: 0.5s;
            transition-timing-function: cubic-bezier(0.32, 0.32, 1, 0);
            > ul {
              margin: 0;
              padding-top: 50px;
              padding-bottom: 40px;
              padding-right: 5px;
            }
          }
          &:after {
            content: ' ';
            position: absolute;
            z-index: 1;
            display: block;
            width: 100%;
            height: 30px;
            bottom: 0;
            left: 0;
            background-color: #ffffff60;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
          }
        }
      }
    }
    #toc {
      h3 {
        margin: 0;
        border-bottom: 1px solid $bc;
      }
      .topic-title {
        display: none;
      }
      ul {
        list-style-type: none;
        font-size: $si * 0.8;
        font-weight: bold;
        line-height: 1.5em;
        padding-left: 1em;
        li {
          word-break: break-word;
          a {
            text-decoration: none;
            &.lastActive {
              text-decoration: solid underline;
            }
            &:hover {
              @extend .lastActive;
            }
          }
          ul {
            font-size: 90%;
            font-weight: normal;
            line-height: 1.5em;
            ul {
              font-size: 90%;
              line-height: 1.5em;
            }
            strong {
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}

footer {
  position: relative;
  z-index: 99;
  margin: 30px 0 0 0;
  width: 100%;
  text-align: center;
  font-size: $sis;
  font-family: $monofont;
  line-height: 1.6em;
  overflow: hidden;
  &:before {
    content: ' ';
    position: absolute;
    z-index: -1;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $ftbgtll;
  }
  &.thelast {
    padding-bottom: env(safe-area-inset-bottom, "0px");
    /*
    padding-bottom: calc(45px + env(safe-area-inset-bottom, "0px"));
    &:after {
      content: ' ';
      position: absolute;
      z-index: -1;
      display: block;
      height: 100%;
      width: 100%;
      left: 0;
      bottom: calc(45px + env(safe-area-inset-bottom, "0px") - 100%);
      background-color: $ftbg;
    }
    */
  }
  div.t {
    display: inline-block;
    margin: 10px auto 0 auto;
    position: relative;
    padding: 20px 10px 2px 10px;
    @media screen and (max-width: 650px) {
      display: table;
    }
    ul {
      display: table-cell;
      padding: 5px;
      vertical-align: bottom;
      text-align: left;
      list-style: none;
      box-sizing: border-box;
      li {
        white-space: pre;
      }
      @media screen and (max-width: 650px) {
        font-size: 95%;
      }
    }
    div#license {
      display: table-cell;;
      text-align: left;
      padding: 5px;
      vertical-align: bottom;
      img {
        width: $sis * 2;
        opacity: 0.8;
      }
      span {
        display: block;
      }
      @media screen and (max-width: 650px) {
        img {
          width: $sis * 1.5;
        }
        span {
          font-size: 95%;
        }
      }
    }
  }
  #tool {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    white-space: pre;
    padding: 0 env(safe-area-inset-right, "0px") env(safe-area-inset-bottom, "0px") 0;
  }
  + div, + div + div {
    position: fixed;
    z-index: 99999;
    right: -100%;
  }
}
