// style for moego.me

// variables
$font: "Noto Sans", "Noto Sans CJK SC", "Noto Sans CJK TC", "Source Han Sans", "Source Han Sans SC", "Source Han Sans TC", "Hiragino Sans GB", SimSun, 宋体, STXihei, 华文细黑, arial, sans-serif;
$monofont: monospace;
$bc: #162d50;
$bct: #162d5009;
$bctd: #162d500f;
$bg: #fff;
$fg: #212121;
$fgt: #757575;
$si: 16px;
$lh: 1.5em;
$sis: 12px;
$heh: 150px;
$lno: solid underline;
$lho: solid underline;
$cbg: #f8fafc;
$ifg: #fdfdfd;
$icbg: lighten($bc, 10%);
$cewd: 860px;
$aswd: 180px;
$aswdm: 20px;
