  <footer>
    <div class="t">
      <ul>
        <li><a href="/categories.html" >文章分类</a></li>
        <li><a href="/archives.html" >文章归档</a></li>
        <li>作者： <a href="/{{ ABOUT_PAGE | default('about.html') }}">{{ AUTHOR }}</a></li>
        <li>网站由 <a href="http://docs.getpelican.com/" target="_blank">Pelican</a> 驱动</li>
      </ul>
      <div id="license">
        <img class="cc" src="/theme/images/fa/brands/creative-commons.svg" />
        <img class="cc" src="/theme/images/fa/brands/creative-commons-by.svg" />
        <img class="cc" src="/theme/images/fa/brands/creative-commons-sa.svg" />
        <span>除另有注明外，本站上的内容均采用
          <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh" target="_blank">
            知识共享 署名-相同方式共享 4.0 国际许可协议</a>&ensp;进行许可。
        </span>
      </div>
    </div>
    <div id="tool"></div>
    <div id="footerSearch" class="hidden-print"><gcse:search></gcse:search></div>
  </footer>
