  {% if page %}
  {% set article = page  %}
  {% endif %}
  <script id="dsq-count-scr" src="/count.js" async></script>
  <script>
    // toggle source code
    var articleBtn = document.getElementById('showArticle');
    var sourceBtn = document.getElementById('showSourceCode');
    var sourceDiv = document.getElementById('source');
    var contentDiv = document.getElementById('content');
    var tocDiv = document.getElementsByTagName('aside')[0];
    async function showArticle(){
      sourceBtn.style.display = '';
      articleBtn.style.display = '';
      sourceDiv.style.display = '';
      contentDiv.style.display = '';
      tocDiv.classList.remove("codeNow");
    }
    async function showSourceCode(){
      if (sourceDiv.innerHTML.length < 100) {
        var url = '/{{article.slug}}.rst.html';
        var xhr = new XMLHttpRequest();
        async function xhrProgress(e) {
          var per = parseInt(e.loaded * 100 / e.total) + '%';
          sourceDiv.innerHTML = '等待.. (' + per + ')';
        }
        async function xhrComplete() {
          sourceDiv.innerHTML = this.responseText;
        }
        async function xhrFailed(e) {
          sourceDiv.innerHTML = '获取 {{SITEURL}}/{{article.slug}}.rst.html 出错。';
        }
        xhr.addEventListener('progress', xhrProgress);
        xhr.addEventListener('load', xhrComplete);
        xhr.addEventListener('error', xhrFailed);
        xhr.addEventListener('abort', xhrFailed);
        xhr.open('GET', url);
        xhr.send();
        sourceDiv.innerHTML = '等待..';
      }
      sourceBtn.style.display = 'none';
      articleBtn.style.display = 'inline-block';
      sourceDiv.style.display = 'block';
      contentDiv.style.display = 'none';
      tocDiv.classList.add("codeNow");
    }
    articleBtn.addEventListener('click', function(e) {
      showArticle();
      e.preventDefault();
    });
    sourceBtn.addEventListener('click', function(e) {
      showSourceCode();
      e.preventDefault();
    });
    window.addEventListener('load', function() {
      // show comment count
      var count = 0;
      var sleep = 1000;
      function udCommentC() {
        var disqusCC = document.querySelectorAll('.disqus-comment-count');
        for (var i = 0; i < disqusCC.length; ++i) {
          if (disqusCC[i].innerText == ""
              || disqusCC[i].innerText == "0"
              || disqusCC[i].innerText == "0 Comment") {
            disqusCC[i].parentNode.style.display = ""
          } else {
            disqusCC[i].parentNode.style.display = "inline-block"
          }
        }
        count++;
        if (count == 9) sleep = 5000;
        else if (count == 43) sleep = 60000;
        window.setTimeout(udCommentC,sleep);
      }
      udCommentC();
      // wrap pre & table
      var tables = document.querySelectorAll('#centre table');
      var pres   = document.querySelectorAll('#centre pre');
      function wrapEls(els, tName) {
        for (var i = 0; i < els.length; ++i) {
          els[i].style.width = 'fit-content';
          els[i].style.minWidth = '100%';
          els[i].style.overFlow = 'visiable';
          els[i].style.marginTop = 0;
          els[i].style.marginBottom = 0;
          var wrapper = document.createElement('div');
          wrapper.className = "elWrapper"
          var adjWrapper = document.createElement('button');
          adjWrapper.className = 'expand';
          adjWrapper.addEventListener('click', function() {
            if (this.className == 'expand') {
              var w = window.getComputedStyle(this.parentNode.querySelector(tName), null).getPropertyValue('width');
              if (window.innerWidth >= parseFloat(w)) {
                this.parentNode.style.left = ((parseFloat(w) 
                  - parseFloat(window.getComputedStyle(this.parentNode, null).getPropertyValue('width')))
                  / -2) + 'px';
              }
              this.parentNode.style.width = w;
              this.className = 'compress';
            } else {
              this.parentNode.style.left = ''; 
              this.parentNode.style.width = '';
              this.style.left = '';
              this.className = 'expand';
            }
          });
          wrapper.appendChild(adjWrapper);
          els[i].parentNode.insertBefore(wrapper, els[i]);
          wrapper.appendChild(els[i].parentNode.removeChild(els[i]));
          
        }
      };
      async function checkElsWidth(els) {
        for (var i = 0; i < els.length; ++i) {
          if (els[i].parentNode.className == 'elWrapper') {
            var w  = parseFloat(window.getComputedStyle(els[i], null).getPropertyValue("width"));
            var wp = parseFloat(window.getComputedStyle(els[i].parentNode, null).getPropertyValue("width"));
            var b  = els[i].parentNode.firstChild;
            if (w > wp) {
              b.style.display = "block";
              b.parentNode.style.overflowX = "scroll";
            } else {
              b.style.display = "";
              b.parentNode.style.overflowX = "";
            }
          }
        }
      }
      wrapEls(tables, 'table');
      wrapEls(pres, 'pre');
      checkElsWidth(tables);
      checkElsWidth(pres);
      window.addEventListener('resize', function() {
        checkElsWidth(tables);
        checkElsWidth(pres);
      });
    });
  </script>
 
