  {% if page %}
  {% set article = page  %}
  {% endif %}
  <script id="dsq-count-scr" src="/count.js" async></script>
  <script>
    // toggle source code
    var articleBtn = document.getElementById('showArticle');
    var sourceBtn = document.getElementById('showSourceCode');
    var sourceDiv = document.getElementById('source');
    var contentDiv = document.getElementById('content');
    var tocDiv = document.getElementsByTagName('aside')[0];
    async function showArticle(){
      sourceBtn.style.display = '';
      articleBtn.style.display = '';
      sourceDiv.style.display = '';
      contentDiv.style.display = '';
      tocDiv.classList.remove("codeNow");
    }
    async function showSourceCode(){
      if (sourceDiv.innerHTML.length < 100) {
        var url = '/{{article.slug}}.rst.html';
        var xhr = new XMLHttpRequest();
        async function xhrProgress(e) {
          var per = parseInt(e.loaded * 100 / e.total) + '%';
          sourceDiv.innerHTML = '等待.. (' + per + ')';
        }
        async function xhrComplete() {
          sourceDiv.innerHTML = this.responseText;
        }
        async function xhrFailed(e) {
          sourceDiv.innerHTML = '获取 {{SITEURL}}/{{article.slug}}.rst.html 出错。';
        }
        xhr.addEventListener('progress', xhrProgress);
        xhr.addEventListener('load', xhrComplete);
        xhr.addEventListener('error', xhrFailed);
        xhr.addEventListener('abort', xhrFailed);
        xhr.open('GET', url);
        xhr.send();
        sourceDiv.innerHTML = '等待..';
      }
      sourceBtn.style.display = 'none';
      articleBtn.style.display = 'inline-block';
      sourceDiv.style.display = 'block';
      contentDiv.style.display = 'none';
      tocDiv.classList.add("codeNow");
    }
    articleBtn.addEventListener('click', function(e) {
      showArticle();
      e.preventDefault();
    });
    sourceBtn.addEventListener('click', function(e) {
      showSourceCode();
      e.preventDefault();
    });
    window.addEventListener('load', function() {
      // show comment count
      var count = 0;
      var sleep = 1000;
      function udCommentC() {
        var disqusCC = document.querySelectorAll('.disqus-comment-count');
        for (var i = 0; i < disqusCC.length; ++i) {
          if (disqusCC[i].innerText == ""
              || disqusCC[i].innerText == "0"
              || disqusCC[i].innerText == "0 Comment") {
            disqusCC[i].parentNode.style.display = ""
          } else {
            disqusCC[i].parentNode.style.display = "inline-block"
          }
        }
        count++;
        if (count == 9) sleep = 5000;
        else if (count == 43) sleep = 60000;
        window.setTimeout(udCommentC,sleep);
      }
      udCommentC();
    });
  </script>
