  <script>
    var asideTopInit = 0;
    var asideTop     = 0;
    var asideLeft    = 0;
    var headE        = document.querySelector('body header');
    var asideE       = document.querySelector('#main aside');

    function getCPro(e, p) {
      return parseFloat(window.getComputedStyle(e, null).getPropertyValue(p));
    }

    async function scrollCheck() {
      if (document.querySelector('html').scrollTop >= 
        parseFloat(window.getComputedStyle(headE, null).getPropertyValue('height'))) {
        asideE.style.position = 'fixed';
        asideE.style.top      = asideTop;
        asideE.style.left     = asideLeft;
        asideE.style.opacity  = 0.6;
      } else {
        asideE.style.position = 'relative';
        asideE.style.top      = asideTopInit + 'px';
        asideE.style.left     = 0;
        asideE.style.opacity  = 1;
      }
    }
    async function fixToc() {
      var mainE   = document.getElementById('main');
      var centreE = document.getElementById('centre');

      var left    = getCPro(mainE, 'margin-left') + getCPro(mainE, 'padding-left')
                  + getCPro(centreE, 'margin-left') + getCPro(centreE, 'width')
                  + (getCPro(centreE, 'margin-right') > getCPro(asideE, 'margin-left')
                      ?
                     getCPro(centreE, 'margin-right') : getCPro(asideE, 'margin-left'));
      var top     = getCPro(headE, 'margin-top')
                  + (getCPro(headE, 'margin-bottom') > getCPro(mainE, 'margin-top')
                      ?
                     getCPro(headE, 'margin-bottom') : getCPro(mainE, 'margin-top'))
                  + getCPro(mainE, 'padding-top');
      if (asideTopInit === 0) {
        asideTopInit = getCPro(asideE, 'top');
      }
      asideLeft     = (left - getCPro(asideE, 'margin-left')) + 'px';        
      asideTop      = (asideTopInit + top) + 'px';
      if (window.getComputedStyle(asideE, null).getPropertyValue('position') == 'fixed') {
        asideE.style.top      = asideTop;
        asideE.style.left     = asideLeft;
      }
    }

    window.addEventListener('load', function() {
      fixToc();
      scrollCheck();
      window.addEventListener('scroll', scrollCheck);
    });
    window.addEventListener('resize', fixToc);

    var tocLinks = document.querySelectorAll('aside #toc a');
    for (var i = 0; i < tocLinks.length; ++i) {
      tocLinks[i].addEventListener('click', function() {
        for (var j = 0; j < tocLinks.length; ++j) {
          tocLinks[j].classList.remove('lastActive');
        }
        this.classList.add('lastActive');
      });
    }
  </script>
