// style for bitbili.net

// variables
$font: "Noto Sans", "Noto Sans CJK SC", "Noto Sans CJK TC", "Source Han Sans", "Source Han Sans SC", "Source Han Sans TC", "Hiragino Sans GB", sans-serif;
$monofont: "Fira Mono", "DejaVu Sans Mono", "Noto Sans Mono CJK SC", "Noto Sans Mono CJK TC", Consolas, "Microsoft Yahei", monospace;
$bc: #eb1846;
$bca: #2b8acf;
$bcatd: #2b8acf03;
$bct: #eb184609;
$bctd: #eb184621;
$bctdd: #eb184660;
$bctddd: #eb1846c0;
$bgi: #ffffff;
$bg: #fdfdfd;
$bghd: #a9a9a910;
$bghdd: #23232330;
$bgd: #fafafa;
$bgdd: #d0d0d0;
$bgt: #fdfdfd52;
$fg: #232323;
$xfg: #393939;
$fgt: #757575;
$ftbg: #161616;
$ftbgt: #16161660;
$ftbgtlm: #16161630;
$ftbgtl: #16161616;
$ftbgtll: #16161606;
$warncolor: #f0b37e;
$warncolorlight: #ffedcc;
$tipcolor: #7986cb;
$tipcolorlight: #e6effd;
$si: 16px;
$lh: 1.5em;
$sis: 12px;
$heh: 150px;
$lno: solid underline;
$lho: solid underline;
$cbg: #f6f8fa;
$cbgd: darken($cbg, 3%);
$ifg: #fdfdfd;
$icbg: lighten($bc, 10%);
$cewd: 860px;
$cewdp: 1660px;
$aswd: 180px;
$aswdm: 20px;
$aswdrf: -100px;
$pkgbg: #54487A;
$githubbg: #24292F;
