{% extends "base.html" %}
  {% set langname = dict(zh="zh-Hans", zh_hans="zh-Hans", en="en-US") %}
  {% block html_lang %}{{ langname[article.lang] }}{% endblock %}
  {% block title %}{{ article.title|striptags }}&ensp;-&ensp;{{ SITENAMEL }}{% endblock %}

  {% block meta %}
    {% if article.author %}
  <meta name="author" content="{{ article.author }}" />
    {% else %}
  <meta name="author" content="{{ AUTHOR }}" />
    {% endif %}
    {% if article.mykeywords %}
      {% set mykeywords = article.mykeywords.split(',') %}
  <meta name="keywords" content="{{ mykeywords|join(',')|striptags }}" />
    {% elif article.tags %}
  <meta name="keywords" content="{{ article.tags|join(',')|striptags }}" />
    {% endif %}
    {% if article.description and article.summary %}
  <meta name="description" content="{{ article.description }} | {{ article.summary|striptags|escape }}" />
    {% elif article.summary %}
  <meta name="description" content="{{ article.summary|striptags|escape }}" />
    {% endif %}
  {% endblock %}

  {% block indentJudge %}
    {% if (article.lang == 'zh' or article.lang == 'zh_hans' or article.lang == 'zh_hant') and not article.noindent %}
  <style>
    p {
      text-indent: 2em;
    }
  </style>
    {% endif %}
  {% endblock %}

  {% block schemaMeta %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ SITEURL }}/{{ article.url }}"
      },
      "headline": "{{ article.title|striptags }}",
      "datePublished": "{{ article.date.isoformat() }}",
      {% if article.modified %}
      "dateModified": "{{ article.modified.isoformat() }}",
      {% endif %}
      "author": {
        "@type": "Person",
        "name": "{{ article.author }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ SITENAME }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ MAINSITEURL }}{{ SITELOGOPNG }}",
          "width": 600,
          "height": 600
        }
      },
      "image": [
      {% if article.full_featured_image %}
        "{{ article.full_featured_image }}"
      {% elif article.featured_image %}
        "{{ SITEURL }}{{ article.featured_image }}"
      {% else %}
        "{{ SITEURL }}{{ OPEN_GRAPH_IMAGE }}"
      {% endif %}
      ],
      {% if article.description and article.summary %}
      "description": "{{ article.description }} | {{ article.summary|striptags|escape }}"
      {% elif article.summary %}
      "description": "{{ article.summary|striptags|escape }}"
      {% endif %}
    }
  </script>
  {% endblock %}

  {% block opengraph %}
  <meta property="og:site_name" content="{{ SITENAME }}" />
  <meta property="og:title" content="{{ article.title|striptags|escape }}" />
  <meta property="og:type" content="article" />
  <meta property="article:published_time" content="{{ article.date.isoformat() }}" />
    {% if article.modified %}
  <meta property="article:modified_time" content="{{ article.modified.isoformat() }}" />
    {% endif %}
    {% if article.category %}
  <meta property="article:section" content="{{ article.category }}" />
    {% endif %}
    {% for tag in article.tags %}
  <meta property="article:tag" content="{{ tag }}" />
    {% endfor %}
    {% if MYPROFILE %}
  <meta property="article:author" content="{{ MYPROFILE }}" />
    {% endif %}
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
  <meta property="og:locale" content="{{ langname[article.lang] }}" />
    {% if article.description and article.summary %}
  <meta property="og:description" content="{{ article.description }} | {{ article.summary|striptags|escape }}" />
    {% elif article.summary %}
  <meta property="og:description" content="{{ article.summary|striptags|escape }}" />
    {% endif %}
    {% if article.full_featured_image %}
  <meta property="og:image" content="{{ article.full_featured_image }}" />
    {% elif article.featured_image %}
  <meta property="og:image" content="{{ SITEURL }}{{ article.featured_image }}" />
    {% else %}
  <meta property="og:image" content="{{ SITEURL }}{{ OPEN_GRAPH_IMAGE }}" />
    {% endif %}
  {% endblock %}

  {% block canonical_rel %}
  <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
  {% endblock %}

  {% block nearbodyscripts %}
  <script>
    var thisisanarticle = true;
    function setBackground(c) {
      var bd = document.getElementsByTagName('body')[0];
      if (c !== null) {
        bd.style.backgroundColor = c;
      } else {
        bd.style.backgroundColor = '';
      }
    }
    var bgColor = localStorage.getItem('bgColor') || null;
    if (bgColor != null) {
      setBackground(bgColor);
    }
  </script>
  {% endblock %}

      {% block toc %}
        {% if article.toc %}
      <div id="toc">
        <h3>目录</h3>
        {{ article.toc }}
      </div>
        {% endif %}
      {% endblock %}

      {% block content %}
      <div id="article">
        <article>
          <div id="header">
            <div id="headline">
              <h1>{{ article.title }}</h1>
            </div>
            {% if article.tags %}
            <div id='tags'>
              {% for tag in article.tags %}
              <a href="/{{ tag.url }}">{{ tag }}</a>
              {% endfor %}
            </div>
            {% endif %}
            {% include 'includes/ctrlANDcommentscount.html' %}

            <div id='info'>
              {% if article.modified %}
              <time class="modified" datetime="{{ article.modified.isoformat() }}" title="{{ article.modified.strftime('%A %H:%M %Z') }}">{{ article.locale_modified }}</time>
              {% endif %}
              <time class="published" datetime="{{ article.date.isoformat() }}" title="{{ article.date.strftime('%A %H:%M %Z') }}">{{ article.locale_date }}</time>
              {% if article.license %}
              <div id="diff-license">{{ article.license }}</div>
              {% endif %}
            </div>
          </div>
          <div id="content">
            {{ article.content }}
          </div>
          <div id="source" style="display: none;">
          </div>
        </article>
        <div id='prevnext' class="hidden-print">
          {% if article.prev_article %}
          <a id="prev"
            href="/{{article.prev_article.url}}">{{article.prev_article.title}}</a>{% endif %}
          {% if article.next_article %}<a id="next"
            href="/{{article.next_article.url}}">{{article.next_article.title}}</a>
          {% endif %}
        </div>
        {% include 'includes/related-posts.html' %}

        {% include 'includes/comments.html' %}

      </div>
      {% endblock %}

  {% block scripts %}
  {% include 'includes/tocScript.html' %}
  {% include 'includes/pageANDarticleScript.html' %}
  {% endblock %}
