<!DOCTYPE html>
<html lang="{% block html_lang %}zh-Hans{% endblock %}">
<head>
  <meta charset="utf-8">
  <title>{% macro title() -%}{% block title %}{{ SITENAME }}{% endblock %}{%- endmacro %}{{title()}}</title>
  <!-- Using the latest rendering mode for IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover,shrink-to-fit=no" />
  <meta name="theme-color" content="#eb1846" />
  <meta name="msapplication-navbutton-color" content="#eb1846" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#eb1846" />

  <link rel="icon" type="image/png" href="/static/logo/fav.png" sizes="600x600" />
  <link rel="manifest" href="/static/manifest.json" />
  <link rel="apple-touch-icon" type="image/png" href="/static/logo/logoMaskable.png" sizes="300x300" />
  <link rel="mask-icon" href="/static/logo/logoMaskable.svg" color="{{ MAINCOLOR }}" />
  {# Favicons are a touchy subject. also can see: http://stackoverflow.com/a/23851464/872397 #}

  {% block canonical_rel %}{% endblock %}
  {% block meta %}
  <meta name="author" content="{{ AUTHOR }}" />
  <meta name="description" content="{{ SITEDESC }}" />
  {% endblock %}

  {# Open Graph tags #}
  {% block opengraph %}
  <!-- Open Graph tags -->
  <meta property="og:site_name" content="{{ SITENAME }}" />
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{{ SITENAME }}" />
  <meta property="og:url" content="{{ SITEURL }}" />
  <meta property="og:description" content="{{ SITEDESC }}" />
    {% if OPEN_GRAPH_IMAGE %}
  <meta property="og:image" content="{{ SITEURL }}{{ OPEN_GRAPH_IMAGE }}" />
    {% endif %}
  {% endblock %}

  <link href="/{{ THEME_STATIC_DIR }}/css/{{ MAINCSSFILE }}" rel="stylesheet" />
  <link href="/{{ THEME_STATIC_DIR }}/css/pygments/{{ PYGMENTS_STYLE|default('native') }}.css" rel="stylesheet" />
  {% block othercss %}
  {% endblock %}

  {% if FEED_ATOM %}
  <link href="{{ SITEURL }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
  {% endif %}
  {% if FEED_RSS %}
  <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% block indentJudge %}
  {% endblock %}
  {% block schemaMeta %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ SITENAME }}",
      "url": "{{ MAINSITEURL }}",
      "author": {
        "@type": "Person",
        "name": "{{ AUTHOR }}"
      }
    }
  </script>
  {% endblock %}
  {% if SERVICEWORKER %}
  <script type="module">
    import {Workbox} from '/static/workbox-window.prod.mjs';
    if ('serviceWorker' in navigator) {
      const wb = new Workbox('/sw.js');
      var fetchDidFail = false;
      var handlerDidCompleteStatus = 0;
      var notificationDisplayed = false;
      navigator.serviceWorker.addEventListener('message', async (event) => {
        if (event.data.type === 'FETCH_DID_FAIL') {
          fetchDidFail = true;
        }
        if (event.data.type === 'HANDLER_DID_COMPLETE') {
          handlerDidCompleteStatus = event.data.status;
        }
        if ( fetchDidFail && handlerDidCompleteStatus === 200 && ! notificationDisplayed ) {
          // carry on cache mode
          notificationDisplayed = true;
          // display notification
          var popup         = document.createElement("div");
          var popupText     = document.createTextNode("当前处于离线浏览状态");
          var popupLink     = document.createElement("a");
          var popupLinkText = document.createTextNode("X");
          popupLink.addEventListener("click", () => {
              document.body.removeChild(popup);
          });
          popupLink.appendChild(popupLinkText);
          popup.appendChild(popupText);
          popup.appendChild(popupLink);
          popup.className   = "popup";
          document.body.appendChild(popup);
        }
      });
      wb.register();
    }
  </script>
  {% endif %}
</head>
<body>
  {% block nearbodyscripts %}{% endblock %}
  <div style="display:none" id="title">{{ title() }}</div>
  <header>
    <nav>
    </nav>
    <div id="logo">
      <a href="/" title="{{ SITENAME }}">
        <img src="{{ SITELOGO }}" />
      </a>
    </div>
    <!-- <div id="logowm"><a href="/" title="{{ SITENAME }}"></a></div> -->
    <div id="menu" class="hidden-print">
      <ul>
        <li>
          <a href="/{{ TAGS_URL | default('tags.html') }}" tabindex="-1">
            <span>文章标签</span>
          </a>
        </li>
        <li>
          <a href="/{{ BLOGROLL_PAGE | default('blogroll.html') }}" tabindex="-1">
            <span>一些博客</span>
          </a>
        </li>
        <li>
          {% block feed %}
          <a href="/{{ FEED_URL | default('feeds/rss.xml') }}" tabindex="-1">
            <span>订阅全站</span>
          </a>
          {% endblock %}
        </li>
      </ul>
    </div>
    <div id="search" class="hidden-print"><div class="gcse-searchbox" data-gname="headersearch"></div></div>
  </header>
  {% block mainDivStart %}
  <div id="main" class="base">
  {% endblock %}
    <div id="centre">
      {% block content %}
      {% endblock %}
    </div>
    <aside>
      {% block toc %}
      {% endblock %}
    </aside>
    <div class="clearfix"></div>
  </div>
  {% include 'includes/footer.html' %}
  <div class="gcse-searchresults" data-gname="headersearch"></div>
  <div class="gcse-searchresults" data-gname="footersearch"></div>
  <script>
    window.addEventListener('DOMContentLoaded', function() {
      var externalLinks = document.querySelectorAll('a.external');
      for (var i = 0; i < externalLinks.length; i++) {
        if(externalLinks[i].href !== '') {
          var reg = /^http[s]?:[/]{2}[a-zA-Z0-9:\-\.]+[/]{1}/i;
          if (externalLinks[i].href.search('#') === 0
            || externalLinks[i].href.search(externalLinks[i].baseURI.match(reg) != null
                                            ?
                                            externalLinks[i].baseURI.match(reg)[0]
                                            :
                                            '^M8nUbdHCEfe0069nYgJa6sVvvsJLiTM2') === 0) {
            externalLinks[i].classList.remove('external');
          } else {
            externalLinks[i].target = '_blank';
            if (externalLinks[i].firstChild.textContent.match(/^\s*http[s]?:/i) === null) {
              var lPrint = document.createElement('span');
              lPrint.appendChild(document.createTextNode(' (' + externalLinks[i].href + ')' ));
              lPrint.className = 'hidden-screen';
              externalLinks[i].appendChild(lPrint);
            }
          }
        }
      }
    });
  </script>
  <script src='/theme/js/main.min.js'></script>
  {% block scripts %}{% endblock %}
  {% include 'includes/ga.html' %}
  <script>
    window.addEventListener('load', function() {
      (async function() {
        var fScri  = document.getElementsByTagName('script');
        fScri      = fScri[fScri.length - 1];
        var gcse   = document.createElement('script');
        gcse.src   = 'https://cse.google.com/cse.js?cx=016855202528329427677:gpowcz722_s';
        gcse.type  = 'text/javascript';
        gcse.async = true;
        gcse.defer = true;
        const fcontroller = new AbortController();
        const fsignal = fcontroller.signal;
        setTimeout(() => fcontroller.abort(), 5000);
        fetch(gcse.src, {signal: fsignal, mode: 'no-cors'}).then(response => {fScri.parentNode.insertBefore(gcse, fScri);}).catch(err => {
          if (err.name === 'AbortError') {
            console.warn('Connection to Google custom search engine timed out.');
          } else {
            console.warn('Cannot connected to Google custom search engine.');
          }});
      })();
    });
  </script>
</body>
</html>
